go 1.24.3

use (
	.
	./examples/convert
	./examples/convert-define
	./examples/deriving-all
	./examples/derivingbind
	./examples/derivingjson
	./examples/docgen
	./examples/goinspect
	./examples/minigo
	./integration_test
)
