func (ob *{{.StructName}}) Bind(r *http.Request) (err error) {
	var errs []error
	{{range .Fields -}}
	if v, err := {{.ParserFunc}}(r.URL.Query()["{{.BindName}}"]); err == nil {
		ob.{{.FieldName}} = v
	} else {
		errs = append(errs, err)
	}
	{{end -}}
	return errors.Join(errs...)
}
